
body {
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.hero-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-icons {
    margin-top: 20px;
    gap: 15px;
}

.social-icon {
    width: 35px;
    height: 35px;
}

.social-icon-email {
    width: 40px;
    height: 40px;
}

.social-icon-phone {
    width: 60px;
    height: 45px;
    cursor: pointer;
    margin-left: -15px;
}

#phoneNumber {
    display: none;
    margin-top: 15px;
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        position: absolute;
        right: 0;
        top: 56px;
        width: auto;
        padding: 10px 15px;
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 5px;
    }
}
