
body {
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        position: absolute;
        right: 0;
        top: 56px;
        width: auto;
        padding: 10px 15px;
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 5px;
    }
}
